<!--
    本頁列出已接受論文
-->
<!-- Header -->
<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Accepted&nbsp;Paper</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3"/>
    <article class="row justify-content-center">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8">
            <p class="lh-base">
                Dear Contributing Authors,
            </p>
            <p class="lh-base">
                We are grateful to your participation in the event. There were a vast number of papers from various disciplines being submitted to IIHMSP-2022. According to the reports from anonymous reviewers, the lists of accepted papers are given below.
            </p>
        </section>
    </article>
</div>