<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Conference&nbsp;Registration</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center px-2">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8 fs-6">
            <p class="lh-base">
                Dear attendees,
            </p>
            <p class="lh-base">
                We would like to express our appreciation and congratulation for the distinguished works you had contributed to VTCA 2024. Please follow the following instructions to accomplish the required procedures for conference registration.
            </p>
            <p class="lh-base">
                All attendees for VTCA 2024 are kindly requested to register. Related forms and supporting documents must be received with payment in US$ (US Dollar) or NT$ (NT Dollar). Otherwise the paper will not be included in the VTCA 2024 technical program and proceedings.
            </p>
            <p class="lh-base">
            <ul>
                <li><a href="./assets/datas/VTCA-2024-Registration_Form.doc">VTCA-2024 Registration Form</a></li>
                <li><a href="./assets/datas/Instruction_for_Payment_by_Credit_Card.pdf">Instruction for Pay by Credit Card</a></li>
                <!-- <li><a href="./assets/datas/VTCA-2024-Copyright_Form.docx">VTCA-2024-Copyright_Form</a></li> -->
            </ul>
            </p>
            <p class="lh-base">
                Please feel free to let us know if you have any problem regarding the conference registration. Thank you again for your contribution to VTCA 2024.
            </p>
            <p class="lh-base">
                Sincerely,<br>
                Yun-Chi Huang,<br>
                Finance Chair of VTCA 2024<br>
                <a href="mailto:vtca24@gmail.com">vtca24@gmail.com</a><br>
                <a href="https://vtca24.github.io">https://vtca24.github.io</a>, <a href="https://bit.nkust.edu.tw/~vtca24">http://bit.nkust.edu.tw/~vtca24</a>

            </p>
        </section>
    </article>
</div>