<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Contact&nbsp;Us</h1>
</header>
<div class="pe-3 ps-3 container">
    <hr class="m-0 mb-3"/>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d0 text-white">Conference websites</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li><a href="https://vtca24.github.io">https://vtca24.github.io</a></li>
                <li><a href="http://bit.nkust.edu.tw/~vtca24">http://bit.nkust.edu.tw/~vtca24</a></li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d2 text-white">Conference emails</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li><a href="mailto:vtca24@gmail.com">vtca24@gmail.com</a></li>
            </ul>
        </section>
    </article>
</div>
