<!--
    本頁列出重要日期
-->
<!-- Header -->
<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Important&nbsp;Dates</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3"/>
    <article class="row justify-content-center mb-3">
        <div class="col-12 col-xl-8 ps-3 text-center text-xxl-start">
            <div class="p-3 pt-2 pb-2 bg-oce-d0 text-white d-inline-block">
                <strong>Paper submission deadline</strong>
            </div>
        </div>
        <div class="ps-xxl-5 col-12 col-xl-8 fs-4 text-center text-xxl-start">
            January 31, 2024
        </div>
    </article>
    <article class="row justify-content-center mb-3">
        <div class="col-12 col-xl-8 ps-3 text-center text-xxl-start">
            <div class="p-3 pt-2 pb-2 bg-oce-d2 text-white d-inline-block">
                <strong>The notification of acceptance</strong>
            </div>
        </div>
        <div class="ps-xxl-5 col-12 col-xl-8 fs-4 text-center text-xxl-start">
            March 15, 2024
        </div>
    </article>
    <article class="row justify-content-center mb-3">
        <div class="col-12 col-xl-8 ps-3 text-center text-xxl-start">
            <div class="p-3 pt-2 pb-2 bg-oce-d0 text-white d-inline-block">
                <strong>The submission deadline for revised papers</strong>
            </div>
        </div>
        <div class="ps-xxl-5 col-12 col-xl-8 fs-4 text-center text-xxl-start">March 31, 2024</div>
    </article>

</div>