<!--
    本頁列出特邀議程
-->
<!-- Header -->
<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Invited&nbsp;Sessions</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center fs-6">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8">
            <p class="lh-lg">
                Dear Prospective Organizers,
            </p>
            <p class="lh-base">
                Thank you for considering this Call for Invited Sessions from VTCA-2024.
                VTCA-2024 has the highest respect for organizers of Invited Sessions.
                An organizer for an Invited Session will have complete and independent control and judgment in reviewing
                and selecting submitted papers.
                Papers intended for an Invited Session should be submitted to its organizer directly and bypass the
                regular reviewing process for General Session.<br>
                If we have the honor of having your participation,
                please prepare a <a href="./assets/datas/VTCA-2024-IS01-CFP.docx">CFP</a> for your Invited
                Session and return it to us (<a href="mailto:vtca24@gmail.com">vtca24@gmail.com</a>.)
                Our staff shall post it on the conference website.
            </p>
            <p class="lh-lg">
                We thank you and look forward to seeing you during VTCA-2024.
            </p>
            <!-- <p class="lh-lg">
                Sincerely,<br>
                Jimmy Ming-Tai Wu, Shih-Pang Tseng, Yendeng Huang and Fuquan Zhang<br />
                Invited Session Chairs<br />
            </p> -->
        </section>
    </article>
    <article class="row justify-content-center fs-6">
        <div class="p-2 col-12 col-xxl-10">
            <hr class="m-0" />
        </div>
        <div class="p-2 col-12 col-xxl-10">
            <table class="w-100">
                <tr class="border-bottom">
                    <td class="ps-5 pe-5">VTCA-2024-IS01</td>
                    <td>
                        <div>
                            <i><a href="./assets/datas/IS/VTCA-2024-IS01-CFP.pdf" target="_blank">
                                    Invited Session on AIoT Technology and Applications
                                </a></i>
                        </div>
                        <div>Prof. Tien-Wen Sung, Prof. Liang-Cheng Shiu, and Prof. Chao-Yang Lee</div>
                    </td>
                </tr>

            </table>
        </div>
    </article>
</div>
<div>
</div>