<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Keynote&nbsp;Speech</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center fs-6">
        <div class="p-2 col-12 col-xxl-10">
            <table class="w-100">
                <tr class="border-bottom">
                    <td>

                        <p>
                            <li>
                                <a href="#Peng Shi">
                                    <i>Prof. Peng Shi: Cyber-physical systems: Analysis and Design</i>
                                </a>

                            </li>
                            <li>
                                <a href="#Seyedali Mirjalili">
                                    <i>Prof. Seyedali Mirjalili: Combining Performance and Stability: The Art of Robust
                                        Optimization</i>
                                </a>
                            </li>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </article>


    <!-- Peng Shi -->
    <article class="row justify-content-center fs-6" id="Peng Shi">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8">
            <p>
            <div class="row mb-3">
                <div class="col-12 col-sm-6 col-lg-4 themed-grid-col d-flex justify-content-center align-items-center">
                    <img width="200vw" src="./assets/datas/KS/PengShi.jpg">
                </div>
                <div class="col-12 col-sm-6 col-lg-8 themed-grid-col d-flex align-items-center text-center">
                    <div class="row justify-content-center">
                        <div class="col-12 pb-3">
                            <i>
                                <h2><b>Cyber-physical systems: Analysis and Design</b></h2>
                            </i>
                        </div>
                        <div class="col-12">
                            <p class="mb-0">
                            <h4>
                                Prof. Peng Shi<br>
                                School of Electrical and Electronic Engineering
                                University of Adelaide, Australia

                            </h4>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </p>
            <br>
            <h5><strong>Abstract:</strong><br></h5>
            <p align="justify">
                Cyber-physical systems (CPS), such as smart grids and intelligent transportation systems, are complex
                systems where software and hardware components are seamlessly integrated toward performing well-defined
                tasks. However, this integration increases the vulnerability of CPS with higher possibility of
                cyber-attack that could cause severe consequences to economics, society, and human beings. Hence,
                cyber-security is critical and important in CPS. In this talk, the security of CPS is discussed from the
                perspectives of attackers. We will introduce the background of CPS and security issues, and some
                existing work on cyber-attacks. We then present our recent work on the design of stealthy hybrid attacks
                to CPS, which enables attackers to launch hybrid cyber-attacks more effectively to maximize system
                performance degradation with less chance to be detected.<br>
            </p>
            <h5><strong>Biography:</strong><br></h5>
            <p align="justify">
                Peng Shi received the PhD degree in Electrical Engineering from the University of Newcastle, Australia,
                the PhD degree in Mathematics from the University of South Australia, the Doctor of Science degree from
                the University of Glamorgan, UK, and the Doctor of Engineering degree from the University of Adelaide,
                Australia. He is now a Professor at the School of Electrical and Electronic Engineering, and the
                Director of Advanced Unmanned Systems Laboratory, at the University of Adelaide, Australia. His research
                interests include systems and control theory and applications to autonomous and robotic systems,
                cyber-physical systems, and multi-agent systems. He received the MA Sargent Medal Award from Engineers
                Australia in 2022 to recognize his longstanding eminence in science and practice of electrical
                engineering, the Life-time achiever Leader-Board acknowledgement from THE AUSTRALIAN from 2019-2022, and
                the Highly Cited Researcher recognition from Thomson Reuters from 2014-2022. Currently he serves as the
                Editor-in-Chief of IEEE Transactions on Cybernetics, a Senior Editor of IEEE Access, and an editorial
                member for a number of journals, including Automatica and IEEE Transactions on (Artificial Intelligence,
                and Circuits and Systems). His professional services also include as the President of the International
                Academy for Systems and Cybernetic Sciences, the Vice President of IEEE SMC Society, and IEEE SMC
                Distinguished Lecturer. He is a Fellow of IEEE, IET, IEAust and CAA, a Member of the Academy of Europe,
                and an Honorary Member of the Romanian Academy of Scientists.<br>

            </p>
            <hr class="m-0 mb-3" />
        </section>
    </article>


    <!-- Seyedali Mirjalili -->
    <article class="row justify-content-center fs-6" id="Seyedali Mirjalili">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8">
            <p>
            <div class="row mb-3">
                <div class="col-12 col-sm-6 col-lg-4 themed-grid-col d-flex justify-content-center align-items-center">
                    <img width="200vw" src="./assets/datas/KS/Seyedali Mirjalili.jpg">
                </div>
                <div class="col-12 col-sm-6 col-lg-8 themed-grid-col d-flex align-items-center text-center">
                    <div class="row justify-content-center">
                        <div class="col-12 pb-3">
                            <i>
                                <h2><b>Combining Performance and Stability: The Art of Robust Optimization</b></h2>
                            </i>
                        </div>
                        <div class="col-12">
                            <p class="mb-0">
                            <h4>
                                Prof. Seyedali Mirjalili<br>
                                Torrens University, Australia
                            </h4>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </p>
            <br>
            <h5><strong>Abstract:</strong><br></h5>
            <p align="justify">
                In today's complex and uncertain world, finding reliable solutions to optimization problems is essential
                for success. This talk covers robust optimization techniques that can help us achieve this by combining
                good performance with low sensitivity to possible perturbations. The use of evolutionary optimization
                algorithms has become increasingly popular due to their simplicity, flexibility, and ability to handle
                difficult search spaces. However, there is still room for improvement, especially when it comes to
                robust optimization combined with multi-objective approaches. To achieve optimal results that are less
                sensitive to perturbations, a highly systematic robust optimization algorithm design process is
                necessary. This process includes designing challenging robust test problems, developing performance
                metrics to measure algorithm success, and creating computationally efficient algorithms to find robust
                solutions. While progress has been made in developing robust optimization techniques, this talk shows
                that there are still gaps in the literature that need to be addressed. These include the need for more
                standard and challenging test functions for both single- and multi-objective algorithms, as well as more
                standard performance metrics for quantifying their performance. Additionally, there is a need for more
                investigation and analysis of current robustness metrics, as well as for reducing the computational cost
                and improving the reliability of robust optimization techniques. There will be discussions on how to
                establish a more systematic robust algorithm design process that will enable us to find reliable
                solutions to optimization problems in even the most uncertain and complex of environments by addressing
                these gaps.<br>
            </p>
            <h5><strong>Biography:</strong><br></h5>
            <p align="justify">
                Seyedali Mirjalili is a Professor at the Center for Artificial Intelligence Research and Optimization at
                Torrens University. He has gained international recognition for his contributions to nature-inspired
                artificial intelligence techniques, with over 500 published works that have garnered more than 80,000
                citations and an H-index of 85. He was included on the list of the top 1% of highly-cited researchers in
                2019, and Web of Science named him one of the most influential researchers in the world. In 2022 and
                2023, The Australian newspaper recognized him as a global leader in Artificial Intelligence and a
                national leader in the Evolutionary Computation and Fuzzy Systems fields. Additionally, he serves as a
                senior member of IEEE and holds editorial positions at several top AI journals, including but not
                limited to, Engineering Applications of Artificial Intelligence, Applied Soft Computing, Neurocomputing,
                Advances in Engineering Software, and Computers in Biology. <br>

            </p>
            <hr class="m-0 mb-3" />
        </section>
    </article>
</div>