<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">NEWS</h1>
</header>

<div class="container ps-3 pe-3">
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-11-27 ]</strong>
            <strong class="flex-fill">Conference Registration Updated</strong>
        </header>
        <article class="ps-5">
            <p>Conference Registration has been updated.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-11-27 ]</strong>
            <strong class="flex-fill">Invited Sessions Updated</strong>
        </header>
        <article class="ps-5">
            <p>Invited Sessions has been updated.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-11-13 ]</strong>
            <strong class="flex-fill">Paper Template Updated</strong>
        </header>
        <article class="ps-5">
            <p>Paper Template has been updated.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-11-13 ]</strong>
            <strong class="flex-fill">Paper Submission Updated</strong>
        </header>
        <article class="ps-5">
            <p>Paper Submission has been updated.</p>
        </article>
    </div>
    <hr class="m-0" />
    <div class="row">
        <header class="d-flex my-3">
            <strong class="text-muted me-3">[ 2023-11-10 ]</strong>
            <strong class="flex-fill">Website Updated</strong>
        </header>
        <article class="ps-5">
            <p>The website has been launched.</p>
        </article>
    </div>
    <hr class="m-0" />
</div>