<!--
    本頁用於列出賣老臉的人
-->
<!-- Header -->
<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Organizing&nbsp;Committee</h1>
</header>
<div class="pe-3 ps-3 container">
    <hr class="m-0 mb-3"/>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d0 text-white">Honorary Chairs</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Jau-Shyong Wang, Shu-Te University, Taiwan</li>
                <li>Valentina Emilia Balas, Aurel Vlaicu University of Arad, Romania</li>
                <li>Jeng-Shyang Pan, Shandong University of Science and Technology, China</li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d2 text-white">Conference Chairs</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Shi-Huang Chen, Shu-Te University, Taiwan</li>
                <li>Rajesh K Shukla, Oriental Institute of Science and Technology, India</li>
                <li>Tarek Gaber, University of Salford, UK</li>
                <li>Thi Thi Zin, University of Miyazaki, Japan</li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d0 text-white">Program Chairs</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Chin-Shiuh Shieh, National Kaohsiung University of Science and Technology, Taiwan</li>
                <li>Tien-Wen Sung, Fujian University of Technology, China</li>
                <li>Trong-The Nguyen, University of Information Technology, Vietnam</li>
                <li>Muthmainnah, Universitas Al Asyariah Mandar, Indonesia</li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d2 text-white">Publication Chairs</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Tsu-Yang Wu, Nanjing University of Information Science & Technology, China</li>
                <li>Prasun Chakrabarti, Sir Padampat Singhania University, India</li>
                <li>Lin Xu, University of South Australia, Australia</li>
                <li>Thuc-Minh Bui, Nha Trang University, Vietnam</li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d0 text-white">Local Organizing Chairs</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Mong-Fong Horng, National Kaohsiung University of Science and Technology, Taiwan</li>
                <li>Joyce Shu-Hui Lin, Taiwan Ubiquitous Information CO., LTD.</li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d2 text-white">Finance Chair</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <li>Yun-Chi Huang, Taiwan Ubiquitous Information CO., LTD.</li>
            </ul>
        </section>
    </article>
    <article>
        <header class="d-flex ps-3 pe-3">
            <h4>
                <div class="p-3 pt-2 pb-2 bg-oce-d0 text-white">Technical Program Committee</div>
            </h4>
        </header>
        <section class="d-flex ps-5">
            <ul>
                <!-- <li>Thuc-Minh Bui, Nha Trang University, Vietnam</li> -->
                <li>Shehzad Ashraf Chaudhry, Abu Dhabi University, United Arab Emirates</li>
                <li>Chien-Ming Chen, Nanjing University of Information Science & Technology, China</li>
                <li>Yeh-Cheng Chen, University of California, USA</li>
                <li>Ashok Kumar Das, International Institute of Information Technology, India</li>
                <li>SK Hafizul Islam, Indian Institute of Information Technology Kalyani, India</li>
                <li>Sachin Kumar, Ajay Kumar Garg Engineering College, India</li>
                <li>Saru Kumari, Chaudhary Charan Singh University, India</li>
                <li>Yu-Chen Lin, Feng Chia University, Taiwan</li>
                <!-- <li>Muthmainnah, Universitas Al Asyariah Mandar, Indonesia</li> -->
                <li>Suyel Namasudra, Universidad Internacional de La Rioja, Spain</li>
                <li>Thanh-Tuan Nguyen, Nha Trang University, Vietnam</li>
                <li>Lip Yee Por, Universiti Malaya, Malaysia</li>
                <li>Tung-Tso Tsai, National Taiwan Ocean University, Taiwan</li>
                <li>Pei-Wei Tsai, Swinburne University of Technology, Australia</li>
                <li>Yuh-Min Tseng, National Changhua University of Education, Taiwan</li>
                <li>Raylin Tso, National Chengchi University, Taiwan</li>
                <li>Ruo-Bin Wang, North China University of Technology, China</li>
                <li>Jimmy Ming-Tai Wu, National Kaohsiung University of Science and Technology, Taiwan</li>
                <li>Kuo-Hui Yeh, National Dong Hwa University, Taiwan</li>
                <li>Jyh-Haw Yeh, Boise State University, USA</li>
                <li>Christian Bachmeir, Technical University of Applied Sciences Würzburg-Schweinfurt, Germany</li>
            </ul>
        </section>
    </article>
    
</div>