<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Paper&nbsp;Submission</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3" />
    <article class="row justify-content-center fs-6">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8">
            <p class="lh-base">
                All submitted manuscripts should be formatted by VTCA 2024 paper template. 
                An electronic version (PDF format) of the full paper should be submitted by the paper submission deadline to the VTCA 2024 conference submission system. 
                <strong>Be careful, we only accept submitted manuscripts with a paper length <em style="color:red">larger or equal</em> to 10 pages (formatted).</strong>
                <p class="lh-base">
                The template for VTCA 2024 follows the same template for the Springer book series"Smart Innovation, Systems and Technologies"(<a href="https://www.springer.com/us/authors-editors/conference-proceedings/conference-proceedings-guidelines">https://www.springer.com/us/authors-editors/conference-proceedings/conference-proceedings-guidelines</a>).
                </p>
            </p>

            <article class="row justify-content-center fs-6">
                <section class="p-2 col-md-12 col-lg-9 col-xxl-8">
                    <ul class="lh-base">
                        <li>LaTeX: <a href="./assets/datas/Latex_Template.zip">Latex_Template.zip</a></li>
                        <li>Word template: <a href="./assets/datas/Word_Template.zip">Word_Template.zip</a></li>
                    </ul>
                </section>
            </article>

            <p class="lh-base">
                Due to the VTCA 2024 submission system being upgraded, all paper submissions will be submitted via email temporarily.
            </p>
            <p class="lh-base"></p>
            Please send your manuscript to Publication Chair Tsu-Yang Wu <a href="wutsuyang@gmail.com">wutsuyang@gmail.com</a> , <a href="100114@nuist.edu.cn">100114@nuist.edu.cn</a> effective immediately.</p>
        </section>
    </article>
</div>