<!--
    本頁列出寫作資訊
-->
<!-- Header -->
<header class="text-center p-3 mt-3">
    <h1 class="text-uppercase">Paper&nbsp;Template</h1>
</header>
<div class="container">
    <hr class="m-0 mb-3"/>
    <article class="row justify-content-center fs-6">
        <section class="p-2 col-md-12 col-lg-9 col-xxl-8">
            <p class="lh-base">
                The template for VTCA 2024 follows the same template for the Springer book series"Smart Innovation, Systems and Technologies"(<a href="https://www.springer.com/us/authors-editors/conference-proceedings/conference-proceedings-guidelines">https://www.springer.com/us/authors-editors/conference-proceedings/conference-proceedings-guidelines</a>).
            </p>
            <ul class="lh-base">
                <li>LaTeX: <a href="./assets/datas/Latex_Template.zip">Latex_Template.zip</a></li>
                <li>Word template: <a href="./assets/datas/Word_Template.zip">Word_Template.zip</a></li>
            </ul>
        </section>
    </article>
</div>